
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Colors
$sunflowers: #FFCE00;
$starrynight: #0375B4;
$irises: #007849;
$evening: #262228;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: white;
}

#app{
  height: 100vh;
  background-color: $irises;
}

ul {
  list-style: none;
}

.teams {
  text-align: right;
  border: 1px solid white;
  background-color: rgba(225, 225, 225, 0.4);
  border-radius: 4px;
}

.players ul {
  padding: 0;
}

.forms {
  margin-top: 15px;
}

.btn-success {
  background-color: $sunflowers;
  border: 1px solid $evening;
  color: $evening;
}
